// Grand Central Station
@import "normalize";
@import "google-homepage";

/* Styling */
body {
    background: #ffffff;
}

// Stage (Parent)
#stage {
    position: relative; 
    overflow: hidden;
}

// Child 
#stage svg {
    width: 500px;
    position: absolute;
    bottom: 10px;
    
}


// Child
//#stage h1 {
//    font-size: 1em;
//    position: absolute;
//    bottom: 80%;
//    left: 40%;
//    margin: 0;
//}

#google {
     width: 400px;
     margin: 150px 50px;
    
}

// Animations Go Here
//#stage h1 {
//
//    opacity: 0;
//   transition: opacity 2.5s;
//} 

// Last Frame
//#stage:hover h1,
#stage:hover svg {
    opacity: 1;
   
}

