// Grand Central Station
@import "normalize";
@import "google-homepage";

/* Styling */
body {
    background: #ffffff;
}

// Stage (Parent)
#stage {
    position: relative; 
    overflow: hidden;
}

// Child 
#Layer_1 {
    width: 500px;
    position: absolute;
    bottom: 10px;
    right: 50px;
    
}

#Layer_2 {
    width: 75px;
    position: absolute;
    bottom: 40px;
    left: 125px;
} 


// Child
//#stage h1 {
//    font-size: 1em;
//    position: absolute;
//    bottom: 80%;
//    left: 40%;
//    margin: 0;
//}

#google {
     width: 275px;
     margin: 190px 50px;
    
}

// Animations Go Here
//#stage h1 {
//
//    opacity: 0;
//   transition: opacity 2.5s;
//} 

#Layer_1 {
    animation: ScreenUp 3s 2s infinite alternate-reverse both;
//    animation-duration: 3s;
//    animation-iteration-count: infinite;
//    animation-direction: alternate-reverse;
//    animation-delay: 10s;
//    animation-fill-mode: both;
}

#Layer_2 {
    animation: SqRight 5s infinite alternate-reverse both;
}


// Last Frame
//#stage:hover h1,
#stage:hover svg {
    opacity: 1;
   
}


@keyframes ScreenUp {
    0% { bottom: 350px }
//    75% { bottom: 10px }
    100% {bottom: 10px }
}

@keyframes SqRight {
    0% { bottom: 350px;
         left: 400px }
    
   25% { bottom: 350px;
         left: 400px }
    
    
    
   50% { bottom: 40px;
          left: 400px }

   75%  { left: 125px }
    100% { left: 125px }
    
}


